<script>
  // vim:filetype=htmldjango
</script>
<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      {{ range.Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">
          {{ if .Pre }}
          {{ $icon := printf "<span uk-icon=\"icon: %s\"</span>" .Pre | safeHTML }}
          {{ $icon }}
          {{ end }}
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
